.container-alltask {
  position: relative;
  height: 100%;
}
.alltask-add {
  position: absolute;
  bottom: 2%;
  right: 2%;
}
.alltask-add__icon {
}
.alltask-add__icon:hover {
  cursor: pointer;
  color: var(--primary-color);
  animation: spinAdd 2s linear;
  filter: brightness(0.9);
}
@keyframes spinAdd {
  0% {
    transform: rotate(0);
  }
  30% {
    transform: rotate(90deg);
  }
}
/* modal add */
.modal {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  z-index: 10;
}
/* .modal.modal-close {
  height: 0;
  width: 0;
  animation: closeModal 1.5s ease;
} */
/* .modal.modal-close .modal-content {
  opacity: 0;
  animation: closeContent 1s ease-out;
} */
.modal.modal-show {
  display: block;
  animation: showModal 1.5s ease;
}
@keyframes showModal {
  0% {
    height: 0;
    width: 0;
    top: 90%;
    left: 90%;
  }
  100% {
    height: 100%;
    width: 100%;
  }
}
@keyframes closeModal {
  0% {
    height: 100%;
    width: 100%;
  }
  100% {
    height: 0;
    width: 0;
    top: 90%;
    left: 90%;
  }
}
.modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.modal-content {
  width: 70%;
  height: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: #fff;
  border-radius: 8px;
  padding: 10px;
  animation: showContent 2s linear;
}
@keyframes showContent {
  0% {
    opacity: 0;
  }
  80% {
    display: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes closeContent {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.modal-content-wrapper-add {
  width: 100%;
}
.modal-content-name {
  width: 100%;
  font-size: 1.8rem;
  line-height: 2.1rem;
  padding: 4px 6px;
  border: none;
  border-bottom: 1px solid #999;
  border-radius: 4px;
  outline: none;
  color: #777;
}
.modal-content-subname {
  width: 100%;
  font-size: 1.8rem;
  line-height: 2.1rem;
  padding: 8px 6px;
  border: 1px solid #999;
  border-radius: 4px;
  outline: none;
  color: #777;
  margin: 15px 0 0 0;
}
.modal-content-name:focus {
  outline: none;
}
.modal-content__addsub {
  position: absolute;
  top: 60px;
  font-size: 1.2rem;
  background-color: var(--primary-color);
  width: 100px;
  border-radius: 4px;
  padding: 4px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  animation: dropSub 3s ease-out;
}
@keyframes dropSub {
  0% {
    top: 40px;
  }
  20% {
    top: 60px;
  }
  40% {
    top: 55px;
  }
  60% {
    top: 60px;
  }
  80% {
    top: 58px;
  }
  100% {
    top: 60px;
  }
}
.modal-content__addsub:hover {
  filter: brightness(0.9);
}
/* all task */
.alltask-main-show {
}
.container-card {
  height: 600px;
  overflow: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 4px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.card {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: auto;
  animation: cardFromRight 1s ease-in-out forwards;
}
@keyframes cardFromRight {
  0% {
    opacity: 0;
    transform: scale(0) translateY(1000px);
  }
  40% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}
.card:hover .card-top {
  display: flex;
  box-shadow: 0 0 8px 1px var(--primary-color);
  cursor: pointer;
}
.card:hover .card-viewmore {
  display: block;
  box-shadow: 0 0 8px 1px var(--primary-color);
  cursor: pointer;
  animation: dropViewMore 0.5s linear;
}
@keyframes dropViewMore {
  0% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
.card-top {
  width: 100%;
  height: 70px;
  margin: 20px 0 0 0;
  background-color: var(--card-color);
  /* box-shadow: 0 2px 8px 1px #999; */
  border-radius: 8px;
  position: relative;
  display: flex;
  align-items: center;
  z-index: 1;
}
.card-percent {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  /* border: 2px solid var(--primary-color); */
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--card-color);
}
.card-percent svg {
  width: 45px;
  height: 45px;
}
.card-percent circle {
  fill: none;
  stroke-width: 4px;
  stroke: #000;
  stroke-dasharray: 125;
  stroke-dashoffset: 125;
}
.card-percent circle:nth-child(1) {
  stroke-dashoffset: 0;
  stroke: rgb(211, 210, 210);
}
.card-percent circle:nth-child(2) {
  stroke: var(--primary-color);
}

.card-percent div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--primary-color);
  font-size: 1.3rem;
  font-weight: 700;
}
.card-name {
  margin-left: 50px;
  font-size: 1.8rem;
}
.card-viewmore {
  width: 80%;
  margin-left: 10%;
  height: 25px;
  background-color: var(--card-color);
  /* box-shadow: 0 4px 8px 1px var(--primary-color); */
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  font-size: 1.3rem;
  color: #999;
  text-align: center;
  line-height: 2.5rem;
  display: none;
  z-index: 0;
}
.card-viewmore.card-viewmore--active {
  height: auto;
}
.card-viewmore-list {
  max-height: 200px;
  animation: dropList 0.6s linear;
}
.card-viewmore-item {
  animation: scaleItem 0.8s linear;
  display: flex;
  margin: 20px 10px;
  align-items: center;
  justify-content: space-between;
}
.card-viewmore-item__name {
  font-size: 1.6rem;
  line-height: 1.8rem;
  margin-left: 10px;
}

.btn-checksubtask:hover {
  transform: translateY(2px);
  color: var(--primary-color);
}

@keyframes dropList {
  0% {
    opacity: 0;
    transform: translateY(-200px);
  }
  50% {
    opacity: 0;
  }

  100% {
    transform: translateY(0);
  }
}
@keyframes scaleItem {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
